body{
    background-color: var(--backgraound);
    font-family: 'outfit';
    width: 100%;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.description{
    width: 350px;
    background-color:var(--backgraound-card);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
}

.description img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    
}

.description h2{
    text-align: center;
    font-size: 23px;
    padding: 10px;
    font-weight: 800;
    
}

.description p{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
}